@font-face {
  font-family: "Arial";
  src: url(../../assets/fonts/arial/ARIAL.TTF);
}

@font-face {
  font-family: "Inria Sans";
  src: url(../../assets/fonts/Inria_Sans/InriaSans-Regular.ttf);
}

.progress-meter {
  display: none;
}

.hidden {
  display: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

#dashboard {
  display: flex;
  gap: 0em;
}

.render {
  width: 100%;
}

#browse-course {
  width: 100%;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space evenly */
  height: 100%; /* Ensures it takes the full height of the parent */
  width: 279px;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allows it to grow and take available space */
  margin: 0em 1em;
}

.dashboard-logo {
  display: flex;
  align-items: center;
  margin-top: 2em;
  margin-left: 3em;
}

.logo {
  position: absolute;
  width: 36px;
  margin-top: 0em;
  margin-left: -2.5em;
}

.dashboard-content {
  flex-grow: 1; /* Allows content to take the available space */
  padding: 1em;
  margin-top: 2em;
}

.dashboard-item-card {
  width: 258px;
  height: 48px;
  gap: 10px;
  border-radius: 10px;
  margin: 0 auto;
  background: #021f3d;
}

.dash-item-img {
  position: absolute;
  margin-top: -7px;
  margin-left: -2.5em;
}

.dashboard-text {
  padding: 17px;
  color: #fff;
  margin-left: 2em;
  text-align: left;
  color: #007bff;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 13.8px;
  text-align: left;
}

.dashboard-item-card {
  margin: 0 auto;
  margin-left: -10%;
  margin-top: 2em;
}
.dashboard-bottom {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 1em;
  margin-left: 30%;
}

.dashboard-bottom > p {
  margin-left: -80%;
  color: #849fa9;
}

.dash-icon {
  position: absolute;
  margin-left: 6%;
}

.overview-header > h2 {
  padding: 1em 2em;
  margin-top: 1em;
  text-align: left;
}

.overview-header > p {
  margin: 0em 7em;
  text-align: left;
  margin-top: -2em;
}

.track-detail-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #007bff70;
  margin-top: 2em;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  padding: 32px 42px;
  border-radius: 10px;

  margin-top: 2em;
  gap: 1em;
}

.track-detail-card {
  width: 100%;
  height: 162px;
  border-radius: 10px;

  border: 1px solid #007bff70;
  justify-content: center;
}

.track-detail-card > h3,
.track-detail-card > p {
  text-align: center;
  margin-top: 1.4em;
}

.track-detail-card > p {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.4px;
  color: #131313a8;
  width: 156px;
  margin: 0 auto;
  margin-top: 1.5em;
}

.track-icon {
  position: absolute;
  margin-left: -1em;
}

.progress-icon {
  margin-left: 0.7em;
}
.progress-details {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 0.6em;
}

.dashboard-verified {
  position: absolute;
  margin-top: -1.7em;
  margin-left: 4em;
}

.progress-tab {
  margin-top: -2em;
  height: 10px;
  margin: 2em 7em;
  gap: 1em;
}

#overview {
  padding-bottom: 1em;
}

.overview-bottom {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  padding: 29px 40px 56px 41px;
  border-radius: 10px;
  border: 1px solid #007bff70;
  margin-top: 3em;
}

.recommended-text {
  margin: 0 auto;
  width: 206px;
  height: 22px;
}

.recommended-icon {
  margin-left: -2em;
}

span {
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.4px;
  text-align: left;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  margin: 5em 2em;
  margin-bottom: 0em;
}
li {
  width: 100%;
  font-family: Arial;
  font-size: 16px;
  font-weight: 5500;
  line-height: 23.4px;
  text-align: left;
}
ul li::marker {
  color: #007bff;
}

.browse-course-wrapper {
  padding-bottom: 3em;
}

.browse-course-header {
  margin: 2em 4em;
}

.browse-course-header > h2,
.browse-course-header > p {
  text-align: left;
}

.browse-course-header > p {
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: 26.48px;
  color: #131313;
  margin-left: 1em;
}

.course-title {
  margin: 0 auto;
  width: 20%;
  height: 22px;
  margin-top: 1em;
}

.course-title > p {
  font-family: Arial;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.4px;
  color: #131313a8;
}

.course-icon {
  position: absolute;
  margin-left: -2em;
}
.pd-course-icon {
  position: absolute;
  margin-left: -2em;
}

.course-line {
  border-bottom: 2px solid #0000002e;
  margin-top: 1em;
  width: 100%;
}

.browse-course-content {
  width: 90%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #007bff70;
  margin: 0 auto;
  margin-top: 5em;
}

.browse-content-top {
  margin-top: 1em;
  display: flex;
  padding: 1em;
}

.browse-content-bottom {
  margin: 0 auto;
  margin: 4em 3em;
}

.browse-card-title {
  color: #007bff;
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-left: 2em;
  padding-bottom: 3em;
}

.course-name {
  width: 120px;
  margin-left: -10px;
}

.browse-content-card {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 82%;
  margin-left: 3em;
  margin-top: 1em;
  padding-bottom: 1em;
}

.browse-content-card > p {
  font-weight: 500;
}

.enroll {
  width: 154px;
  height: 41px;
  padding-left: 60px;
  padding-top: 5px;
  gap: 10px;
  border: 5px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #007bff70;
  margin-right: -4em;
  margin-top: -5px;
}

.course-line2 {
  border: 1px solid #007bff70;
  margin: 5px;
  margin-top: 0em;
}

.my-course-icon {
  position: absolute;
  margin-left: -2em;
}
.completed-course-icon {
  position: absolute;
  margin-left: -30px;
}

.my-course-top {
  display: flex;
  padding: 1em;
}

#user-information {
  padding-bottom: 2em;
}

.user-info-wrapper {
  margin: 2em 3em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.personal-information,
.contact-information {
  margin: 0 auto;
  height: 200px;
  background: #007bff0f;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 2em;
  gap: 1em;
  border-radius: 10px;
}

.contact-information {
  padding-bottom: 5em;
}

.country,
.city {
  margin-top: 2em;
}

select {
  position: absolute;
  margin-top: 2em;
  margin-left: -1em;
  padding: 4px 47px 4px 47px;
  border-radius: 10px;
}

label {
  position: absolute;
  margin: 0 auto;
  margin-left: -15%;
}
input {
  position: absolute;
  margin-top: 2em;
  margin-left: -100%;
  width: 394px;
  height: 48px;
  padding: 4px 47px 4px 47px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #007bff;
  margin-top: 1em;
}

.save-changes {
  width: 20%;
  background: #007bff;
  border-radius: 10px;
  height: 71px;
  margin-left: 80%;
}

.user-info-header {
  text-align: left;
}

.note {
  text-align: left;
  margin: -2em 4em;
}

.q-and-a-wrapper {
  margin: 2em 4em;
}

.q-and-a-wrapper > h2,
.q-and-a-wrapper > p {
  text-align: left;
}

.q-and-a-form {
  margin: 0 auto;
}

.question-label {
  margin-top: 1em;
  margin-left: -0%;
}

.q-and-a-input {
  position: absolute;
  width: 60%;
  height: 20%;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #007bff;
  margin: 0 auto;
  margin-top: 3em;
  text-align: left;
}

.q-and-a-response {
  margin-top: 19em;
  gap: 10px;
  text-align: left;
}

.q-and-a-response > p {
  width: 80%;
  height: 20%;
  border: 1px solid #007bff;
  border-radius: 10px;
  padding: 2.5em;
  text-align: left;
  margin-top: 2em;
}

.q-and-a-response > h4 {
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.4px;
  text-align: left;
}

.q-and-a-send {
  position: absolute;
  width: 109px;
  height: 71px;
  gap: 10px;
  border-radius: 10px;
  background: #007bff;
  margin-top: 14em;
}

@media only screen and (width > 1440px) {
  .browse-course-header {
    margin: 2em 9em;
  }

  .completed-course-icon {
    position: absolute;
    margin-left: -2.5em;
  }

  .course-icon,
  .my-course-icon {
    position: absolute;
    margin-left: -1em;
  }

  .course-title {
    width: 157px;
    height: 22px;
  }

  .pd-course-icon {
    margin-left: 0.8em;
  }

  .course-title > p {
    line-height: 25px;
  }

  .browse-card-title {
    margin-left: -1em;
    gap: 5em;
  }

  .course-icon,
  .my-course-icon {
    margin-left: -2em;
  }

  .pd-course-icon {
    margin-left: -2em;
  }
}

@media only screen and (width > 600px) {
  .mobile {
    display: none;
  }
  .overview-prefix {
    display: none;
  }
}

@media only screen and (width < 1245px) {
  .logo {
    position: absolute;
    width: 36px;
    margin-top: 0em;
    margin-left: -3.5em;
  }

  .overview-header > p {
    margin: 0em 4em;
  }
  .track-detail-container {
    gap: 2em;
  }
  .progress-tab {
    display: none;
    gap: 0em;
  }
  .track-icon {
    margin-left: -1em;
  }

  .progress-icon {
    margin-left: 0.7em;
  }

  .progress-meter {
    display: block;
  }

  .browse-course-header > p {
    font-size: 18px;
  }

  .course-icon {
    position: absolute;
    margin-left: -1.5em;
  }
  .pd-course-icon {
    margin-left: -1.6em;
  }

  .browse-card-title {
    width: 60%;
    gap: 3em;
    margin-left: 5em;
  }

  .browse-content-card {
    width: 75%;
  }

  .course-line2 {
    margin-left: 0px;
    width: 100%;
  }

  .course-title > p {
    font-size: 12px;
  }

  .browse-content-card > p,
  .browse-card-title {
    font-size: 12px;
    font-weight: 400;
  }

  .recommended-icon {
    margin-left: -2.5em;
  }

  .my-course-icon {
    position: absolute;
    margin-left: -30px;
  }
  .completed-course-icon {
    margin-left: -30px;
  }

  .enroll {
    width: 120px;
    height: 31px;
    padding: 5px 50px;
  }

  select {
    position: absolute;
    margin-top: 2em;
    margin-left: -1em;
  }

  label {
    position: absolute;
    margin: 0 auto;
    margin-left: -15%;
  }

  .q-and-a-send {
    margin-left: 0%;
  }

  .personal-information,
  .contact-information {
    grid-template-columns: 3fr 3fr;
  }

  input {
    width: 250px;
  }

  .track-detail-container {
    border: none;
  }

  .login-form-group label {
    margin-left: -9em;
  }

  .q-and-a-response > p {
    width: 100%;
  }
}

@media only screen and (width > 600px) and (width < 825px) {
  .desktop {
    display: none;
  }

  .user-info-header {
    text-align: center;
  }
  .personal-information,
  .contact-information {
    display: flex;
    flex-direction: column;
    gap: 6em;
    height: 190%;
    padding-bottom: 8em;
    width: 90%;
  }

  .contact-information-header {
    margin-top: 1em;
  }

  .contact-information {
    margin-top: 1em;
  }

  .city,
  .country {
    width: 70px;
  }

  .save-changes {
    width: 150px;
    height: 35px;
    margin: 0 auto;
  }

  input {
    width: 400px;
  }

  select {
    position: absolute;
    margin-top: 2em;
    margin-left: -1em;
  }

  .login-form-group label {
    margin-left: -15%;
  }

  .progress-tab {
    margin: 1em 1em;
    display: none;
  }

  .dash-icon {
    margin-left: 10%;
  }

  .track-detail-card {
    width: 200px;
  }
  .track-icon {
    position: absolute;
    margin-left: -7px;
  }

  .recommended-icon {
    margin-left: -2em;
  }
  .progress-icon {
    margin-left: 0.7em;
  }

  .course-title > p {
    font-size: 12px;
  }

  .course-line2 {
    width: 100%;
  }

  .browse-card-title {
    gap: 0em;
    margin-left: 0px;
    width: 50%;
  }

  .browse-content-card {
    gap: 1em;
    margin-left: 0px;
  }

  .my-course-icon {
    position: absolute;
    margin-left: -30px;
  }
  .completed-course-icon {
    margin-left: -30px;
  }

  .enroll {
    position: relative;
    width: 50px;
    height: 29px;
    margin-left: 30%;
    padding: 5px 12px;
  }

  .personal-information,
  .contact-information {
    width: 120%;
    margin-left: -3em;
  }

  .user-info-wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .user-info-label {
    margin-left: -10em;
  }

  .q-and-a-response > p {
    width: 100%;
  }

  .q-and-a-input {
    width: 40%;
  }
}

@media only screen and (width < 601px) {
  .login-form-group {
    input {
      width: 90%;
      margin-left: -118px;
    }
  }

  .desktop {
    display: none;
  }

  .dashboard-logo {
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-left: 3em;
  }

  .logo {
    position: absolute;
    width: 36px;
    margin-top: 0em;
    margin-left: -2.5em;
  }

  .dashboard-header {
    margin-top: 2em;
  }

  .browse-course-header > h2 {
    text-align: center;
  }
  .browse-course-header > p {
    font-size: 12px;
    text-align: center;
  }

  .dashboard-content {
    padding: 0px;
    margin: 0px;
    height: 100%;
  }

  .track-detail-container {
    border: none;
  }

  .overview-header {
    display: none;
  }

  .logo-text {
    margin-top: 10px;
  }

  .track-icon {
    margin-left: -1em;
  }

  .progress-icon {
    margin-left: 0px;
  }

  .track-detail-card > p {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    margin-left: 1.4em;
  }

  .track-detail-card > p {
    width: 90%;
  }

  .overview-bottom {
    margin-top: 100%;
    margin-top: 1em;
  }

  .recommended-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    color: #131313a8;
  }

  .recommended-icon {
    margin-left: -2em;
  }

  .overview-prefix > h4 {
    font-family: "Inria Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.78px;
    margin: 0 auto;
    color: #007bff;
  }

  .overview-prefix > img {
    position: absolute;
    margin-top: 5px;
    margin-left: 30%;
    max-width: 10%;
    max-height: 5%;
  }

  ul {
    margin-top: 2em;
  }

  .dashboard-bottom {
    margin-top: 1em;
    margin-left: 40%;
  }

  .dash-icon {
    margin-left: -7%;
  }

  .render {
    display: block;
  }

  #dashboard {
    display: flex;
    flex-direction: column;
    gap: 0em;
  }

  .dashboard-header > p {
    text-align: center;
  }
  .dashboard-container {
    width: 100%;
    margin: 0 auto;
  }

  .dashboard-item-card {
    margin: 0 auto;
    margin-left: 0%;
    margin-top: 2em;
  }

  .dashboard-content {
    margin: 0 auto;
    margin-top: 4em;
  }

  .browse-content-top {
    width: 100%;
  }

  .browse-card-title {
    margin-left: -1em;
  }

  .browse-content-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .browse-content-card {
    margin-left: 1em;
  }

  h4 {
    text-align: center;
    margin: 0 auto;
  }
  .course-title {
    width: 100%;
    height: 100%;
  }

  .course-title > p {
    width: 150px;
    margin-left: 20%;
  }

  .course-line2 {
    width: 100%;
    margin-top: -8px;
  }

  .course-icon {
    margin-left: 1em;
  }

  .pd-course-icon {
    margin-left: 15px;
  }

  .my-course-icon {
    position: absolute;
    margin-left: 5px;
  }
  .completed-course-icon {
    margin-left: -10px;
  }

  .enroll {
    width: 100px;
    height: 31px;
    padding-top: 0px;
    padding-left: 35px;
  }

  .user-info-header {
    text-align: center;
  }
  .personal-information,
  .contact-information {
    display: flex;
    flex-direction: column;
    gap: 5em;
    height: 190%;
    padding-bottom: 8em;
    width: 100%;
    justify-content: center;
  }

  input {
    width: 350px;
    height: 30px;
  }

  .login-form-group > label {
    margin-left: -7em;
  }

  .save-changes {
    width: 100px;
    height: 40px;
    margin: 0 auto;
  }

  .prefix {
    gap: 5px;
  }

  .note {
    width: 80%;
    margin: -2em 3em;
    line-height: 16px;
    text-align: left;
  }

  .q-and-a-send {
    height: 50px;
    margin-left: 20%;
    margin-top: 19em;
  }

  .q-and-a-form {
    text-align: center;
  }

  .q-and-a-form > input {
    width: 70%;
    height: 13%;
  }

  .q-and-a-input {
    font-size: 12px;
    margin-top: 5em;
  }

  .q-and-a-response {
    margin-top: 19em;
  }

  .personal-information,
  .contact-information {
    width: 125%;
    margin-left: -10%;
  }

  .user-info-wrapper {
    margin: 0 auto;
  }
  .user-info-label {
    margin-left: -13em;
  }

  .city {
    margin-left: -6%;
  }
  .country {
    margin-left: -29%;
  }
}

@media only screen and (width < 460px) {
  .track-icon {
    margin-left: -25px;
    display: none;
  }

  .progress-icon {
    margin-left: -10px;
  }

  .track-detail-card {
    width: 100%;
  }

  .track-detail-card > p {
    width: 80%;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 1.2em;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    margin: 2em 0px;
    margin-bottom: 0em;
  }

  li,
  span {
    font-size: 10px;
    width: 100%;
  }

  .recommended-text {
    width: 100%;
    text-align: center;
  }

  .recommended-icon {
    margin-left: 0em;
  }

  .dash-icon {
    margin-left: -8%;
  }

  .course-line2 {
    width: 100%;
  }

  .course-title {
    width: 80%;
    height: 100%;
    text-align: center;
    margin-right: -5%;
  }

  .course-icon {
    margin-left: -18px;
    width: 3%;
  }

  .pd-course-icon {
    margin-left: -8px;
    width: 3%;
  }

  .browse-card-title > p {
    line-height: 15px;
  }

  .browse-card-title {
    gap: 0em;
    width: 85%;
    margin-left: -4em;
  }

  .browse-content-card {
    gap: 1em;
    width: 100%;
    margin-left: 0em;
  }

  .my-course-top {
    margin-left: 1em;
  }

  .my-course-icon {
    position: absolute;
    margin-left: -5px;
    max-width: 3%;
  }
  .completed-course-icon {
    position: absolute;
    margin-left: -10px;
    max-width: 3%;
  }

  .course-title > p {
    width: 70%;
  }

  .enroll {
    width: 100px;
    height: 31px;
    padding-top: 0px;
    padding-left: 35px;
  }

  .course-line2 {
    margin: 0 auto;
    margin-left: -1em;
    width: 110%;
  }

  .user-info-wrapper {
    margin: 3em 0em;
  }

  input {
    width: 300px;
  }

  .q-and-a-send {
    margin-left: 12%;
    margin-top: 16em;
    height: 32px;
  }

  .overview-prefix > img {
    margin-left: 28%;
  }

  .personal-information,
  .contact-information {
    width: 125%;
    margin-left: -10%;
  }

  .user-info-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .user-info-label {
    margin-left: -11em;
  }
}

@media only screen and (width < 450px) {
  .user-info-wrapper {
    margin: 3em 0em;
  }
  .browse-course-wrapper {
    margin: 0 auto;
  }
  .browse-content-top {
    padding: none;
    gap: 1em;
    margin: 0 auto;
    margin-left: 2em;
  }

  .course-title {
    width: 10%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    margin-left: 5px;
  }

  .course-name {
    line-height: 18.4px;
    margin-left: 2em;
  }

  .course-icon {
    margin-left: -1.2em;
  }

  .recommended-icon {
    margin-left: -1em;
  }

  .pd-course-icon {
    margin-left: -25px;
  }

  .course-line {
    margin-top: -0.5em;
  }
  .browse-card-title > p {
    line-height: 15px;
  }

  .browse-card-title {
    gap: 1em;
    margin-left: -3em;
  }

  .browse-content-card {
    gap: 1em;
    margin-left: -2em;
  }

  .course-line2 {
    width: 125%;
    margin-left: -2em;
  }

  .my-course-icon {
    max-width: 5%;
    margin-left: -25px;
  }

  .completed-course-icon {
    margin-left: -1.5em;
    max-width: 5%;
  }

  .my-course-content-top {
    padding: 0;
    padding-top: 1em;
  }

  .my-course-top {
    gap: 2em;
  }

  .content-name {
    line-height: 20x;
  }

  .q-and-a-wrapper {
    margin: 2em 1em;
  }

  .overview-prefix > img {
    margin-left: 25%;
  }

  .login-form-group {
    label {
      margin-left: -2em;
    }
  }

  .login-form-group {
    input {
      width: 90%;
      margin-left: -38px;
    }
  }

  .login-button {
    margin: 0 auto;
  }

  .personal-information,
  .contact-information {
    width: 125%;
    margin-left: -10%;
  }

  .user-info-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .user-info-label {
    margin-left: -13em;
  }

  .city {
    margin-left: -9%;
  }
  .country {
    margin-left: -29%;
  }

  .save-changes {
    margin: 0 auto;
  }
}
